<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <a href="http://arca-computing.github.io/MultipleDatePicker/">
    <h1>
      MultiDatePicker Angular
    </h1>
  </a>
  <div>
    <div style="width:50%">
      <multiple-date-picker [showDaysOfSurroundingMonths]="false" [matIcons]="true" [disallowBackPastMonths]="true" [sundayFirstDay]="false"
        [disableDaysBefore]="true" [disableDaysAfter]="false" [monthChanged]="logMonthChanged" [highlightDays]="highlightDays"
        [dayClick]="oneDaySelectionOnly" [weekDaysOff]="[0, 6]" [month]="myMonth" [(ngModel)]="initialCount">
      </multiple-date-picker>
      <br>
      <button class="btn" (click)="tommorrow()">Select Tommorrow</button>
      <hr>
    </div>
  </div>
  <h1>
    Custom Datepicker ({{title}})
  </h1>
  <div>
    <div style="width:50%">
      <!-- <input type="text" myDatePicker [onlyDatePicker]="false" id="startDate_id" [minimumDate]="true" (dateChange)="onStartDateChange($event)"> -->
    </div>
  </div>
</div>
