/*apply colors if not selected, if selected I want the default selected css*/

.picker-day.holiday:not(.picker-selected) {
  background-color: aqua !important;
  color: #fff;
}

/*if my holiday isn't clickable (it's the case in the demo)*/

.picker-day.holiday.picker-off {
  background-color: #00a267 !important;
  color: #fff;
  cursor: default;
}

/*my birthday, is clickable*/

.picker-day.birthday:not(.picker-selected) {
  background-color: #ded100;
  color: #000;
}
